<mat-sidenav-container class="example-container">
<mat-sidenav #sidenav mode="side" opened class="example-sidenav"
             [fixedInViewport]="options.fixed" [fixedTopGap]="options.top"
             [fixedBottomGap]="options.bottom">
  <div style="margin: 20px">
    <h1>Standard Units</h1>
    <h2>Widths available</h2>
    <div>
      <div></div>
    </div>
  </div>
</mat-sidenav>

<mat-sidenav-content>
  <div style="margin: 20px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cupiditate deleniti doloremque ducimus eum id iste necessitatibus unde voluptatem voluptatum.</div>
</mat-sidenav-content>
</mat-sidenav-container>
